body {
	font-family: 'Open Sans', sans-serif;
	color: #3f4850;
}

.horizontal-spacing {
	text-align: center;
	margin: 2em 10em;
}

@media only screen and (max-width: 767px) {
	body {
		padding-top: 2em;
	}
}

@media only screen and (min-width: 768px) {
	body {
		padding-top: 4em;
	}
}
